@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.addProductContainer {
  min-height: 650px;

  h4 {
    margin-top: 5%;
  }

  .product_form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 20px;
    width: 24%;
    min-width: 340px;
    height: 540px;
    transition: 2s;
    font-family: 'Kanit', sans-serif;

    .message {
      width: 100%;
      height: 10px;
      font-size: 17px;
      margin-top: 15px;
      font-weight: 500;
      color: rgb(233, 13, 13);
      font-family: "Kanit", sans-serif;
    }

    .mainTable {
      border-collapse: unset;
      margin-top: 10px;
    }

    input {
      color: rgb(18, 36, 136);
      font-weight: 400;
    }

    .save {
      margin-top: 10px;
    }

    .cancel {
      height: 16px;
      margin-top: 51%;
    }

    .AditionalContainer {
      width: 55%;
      text-align: center;
      height: 200px;
      margin-left: 15px;

      th {
        width: 50px;
      }
    }
  }
}

input:focus::placeholder {
  color: transparent;
}

.addPageButton {
  position: relative;
}

.product_form:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

[data-input][type="number"]::-webkit-inner-spin-button,
[data-input][type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.divBook,
.divDisk,
.divFurniture {
  margin-left: 16%;
  input {
    width: 70px;
    margin-left: 50px;
    text-align: center;
    padding: 10px;
  }
  label {
    width: 20px;
  }
  h6 {
    margin-top: 30px;
    width: 200px;
  }
}